body {
    font-family: 'open sans';
}

#cat-app { 
    display: flex;
    height: 100%;
}
.catList {
    background-color: azure;
    flex-basis: 20%;
    height: 100vh;
    list-style: none;
    margin-top: 71px;
    padding: 0;
}

.catList_item{
    font-size: 1.25em;
    text-align: left;
}


img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #c8c8c8;
}

.catList_item_selected {
    background-color: #3240bd;
    color: #fff;
    font-weight: 600;
}

.catList_item:hover {
    background-color: #fff;
    cursor: pointer;
    color: #000;
}

.catDisplay {
    flex-basis: 95vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    max-width: 400px;
    margin: 0 auto;
 
}

.catEntry { 
    flex-basis: 50%;
}

.entryBody {
    background: #ebebeb;
    padding: 30px 15px 40px 15px;
    -webkit-box-shadow: -1px 11px 36px -5px rgba(71,71,71,1);
    -moz-box-shadow: -1px 11px 36px -5px rgba(71,71,71,1);
    box-shadow: -1px 11px 36px -5px rgba(71,71,71,1);
}
